<nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">Atria ISE Dept.</a> 
            <button class="navbar-toggler btn-lg" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon font-white"></span>
           &nbsp; &nbsp;
      </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav navbar-nav nav-fill w-100 text-center">
                    <li class="nav-item">
                        <a class="nav-link text-center text-primary font-weight-bold" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center text-primary font-weight-bold" href="/#section-2">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center text-primary font-weight-bold" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center text-primary font-weight-bold" href="/study_materials">Study Materials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center text-primary font-weight-bold" href="/clubs">Clubs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>